body
{
    background-image: url("../img/anime_278.gif");  
}
h1
{
	position: relative;
	top: -25px;
	text-align: center;
    font-style: strong;  /* texte du message en gras */
	font-size: 70px;
}
#windfinder
{
	position:absolute; left:40px; top:400px; width: 32.3%; margin: 0 auto;
} 
#shom
{
	position:absolute; right:-10px; top:150px; margin: 0 auto;
	transform: scaleX(0.8) scaleY(0.8);
}
#meteofrance
{
	position:absolute; left:100px; top:250px;
}

h6
{
    font-size: 100px;  /* texte du message 100 pixels */

    font-style: strong;  /* texte du message en gras */
} 

#ejs_heure {
	position: absolute;
	top: 60 px;
	font-size: 50;
}

.ext {
	position: absolute;
	top : 120px;
	left : 140px;
	width: 1640px; /* largeur de diapo : 1640px */
	height: 930px; /* hauteur de diapo : 900px (la barre fait 30px) */
	overflow: hidden;
}

@keyframes fade {
  from {opacity: 0}
  10%  {opacity: 1}
  90% {opacity: 1}
  to {opacity: 0}
}

@-webkit-keyframes fadeout {
  from {opacity: 0}
  10%  {opacity: 1}
  90% {opacity: 1}
  to {opacity: 0}
}